<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wcc.mapper.UserMapper">

    <!--    查看所有图书信息-->
    <select id="findByName" parameterType="string" resultType="com.wcc.domain.User">
        select * from user where name=#{name}
    </select>

    <select id="findById" parameterType="Integer" resultType="com.wcc.domain.User">
        select * from user where id=#{id}
    </select>

<!--    &lt;!&ndash;    添加图书&ndash;&gt;-->
<!--    <insert id="addBook" parameterType="com.wcc.model.Book">-->
<!--        insert into ssmbuild.book-->
<!--        (id,name,count,detail)-->
<!--        values (#{id},#{name},#{count},#{detail});-->
<!--    </insert>-->

<!--    &lt;!&ndash;    更新图书信息&ndash;&gt;-->
<!--    <update id="updateBook" parameterType="com.wcc.model.Book">-->
<!--        update ssmbuild.book-->
<!--        set name=#{name},count=#{count},detail=#{detail} where id=#{id};-->
<!--    </update>-->

<!--    &lt;!&ndash;    删除用户&ndash;&gt;-->
<!--    <delete id="deleteBookById" parameterType="Integer">-->
<!--        delete from ssmbuild.book where id=#{id};-->
<!--    </delete>-->
</mapper>